.main{
	background-color: rgba(255, 20, 255, 0.15);
	text-align: center;
}

.shop-header{
	background-color: #ff00ff;
	color: azure;
	border-radius: 15px;
	margin-top: 85px;
}

.list-body{
    list-style-type: none;
    font-size: 30px;
	background-color: #fae2b2;
	box-shadow: 10px 10px 5px #000000;
	margin-right: 20px;
	margin-left: -20px;
	margin-bottom: 20px;
	border-radius: 15px;
}

.list-body:hover{
	box-shadow: 5px 5px 5px #000;
}

button.close{
    opacity: .35;
    margin-top: 10px;
    margin-right: 10px;
}

button.close:hover{
    opacity: .8;
}